.DS_Store
.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/**/*
tmp/*
tmp/restart.txt
tmp/*.pid
doc/api
doc/app
public/system/*
vendor/plugins
.sass-cache/
dragonfly/*
resque_web.*
coverage/*
test/models/coverage/*
todo.*
public/assets
.idea

