.row{ng_controller: 'ConfigCtrl'}
  %table.table
    %thead
      %tr
        %th Key
        %th Value
    %tbody
      - ServerProperties.keys_as_strings.each do |key|
        %tr
          %td= key
          %td
            - if key =~ /password/i
              = '*' * ServerProperties.send(key).length if !!ServerProperties.send(key)
            - else
              = ServerProperties.send(key)
            - if key =~ /^resource-pack$/i && ( !ServerProperties.send(key) || ServerProperties.send(key).empty? )
              %suggestion{module: 'admin', group: 'server_properties', key: key}
            - if key =~ /^resource-pack-hash$/i && !!Preference.latest_resource_pack_hash && ServerProperties.send(key) != Preference.latest_resource_pack_hash && !!ServerProperties.resource_pack
              %suggestion{module: 'admin', group: 'server_properties', key: key}
            - if key =~ /^announce-player-achievements$/i && ServerProperties.send(key) != 'true'
              %suggestion{module: 'admin', group: 'server_properties', key: key}
            - if key =~ /^online-mode$/i && ServerProperties.send(key) != 'true'
              %suggestion{module: 'admin', group: 'server_properties', key: key}
            - if key =~ /^enable-rcon$/i && ServerProperties.send(key) != 'true'
              %suggestion{module: 'admin', group: 'server_properties', key: key}
