%table
  %tr
    %th Key
    %th Value
  - server_properties.each do |prop|
    %tr
      %td= prop[0]
      %td
        - if prop[0].downcase =~ /password/
          = '*' * prop[1].length
        - else
          = prop[1]
