%iframe{src: link.url, width: '100%', height: 480}
  %noframes
    = link_to link.title, link.url, target: link.to_param
    
.modal-footer
  %span{style: 'float: left;'}
    = link_delete_link(link)
  %span{style: 'float: right;'}
    - if defined? modal
      = modal_nav_links(admin_links_path, "link")
      %button.btn.btn-default{type: "button", data: { dismiss: :modal } } Close
    - else
      = link_to 'Close', admin_links_path, class: 'btn btn-default'
