- if @verbose == 'true'
  %button.btn.btn-info.btn-xs.pull-xs-right{type: :button, data: { toggle: :modal, target: "#explain_#{@group}_#{@key}"}} Suggestion
- else
  %button.btn.btn-info.btn-xs{type: :button, data: { toggle: :modal, target: "#explain_#{@group}_#{@key}" }}
    .glyphicon.glyphicon-question-sign
