- if @verbose == 'true'
  %button.btn.btn-info.btn-sm{style: 'float: right', type: :button, data: { toggle: :modal, target: "#explain_#{@group}_#{@key}"}} Suggestion
- else
  %button.label.label-pill.label-info{type: :button, data: { toggle: :modal, target: "#explain_#{@group}_#{@key}" }} ?
