$('#show_callback_label').replaceWith('<h4 class="modal-title" id="show_callback_label"><%= @callback.name %></h4>');
$('#show_callback_body').replaceWith('<div class="modal-body" id="show_callback_body"><%= j render 'callback', callback: @callback %></div>');
