.row

:javascript
  window.preloadedStatus = #{raw @preloadedStatus.to_json};

.row{ng_controller: 'StatCtrl'}
  %table.table
    %tbody
      %tr{ng_repeat: 'stat in status'}
        %th{align: :right} {{stat.displayKey()}}
        %td {{stat.displayValue()}}
