.row

-#%div{data: {preload_resource: '/status.json', data: (render template: '/status/index.json')}}

.row{ng_controller: 'StatCtrl'}
  %table.table
    %tbody
      %tr{ng_repeat: 'stat in status'}
        %th{align: :right} {{stat.displayKey()}}
        %td {{stat.displayValue()}}
