%div#public-players
  = render 'public_players'

.chat_bottom_only#chat{style: 'display: block;'}
  #chat_size{style: 'text-align: center'} &#x2191;
#chat_controls{style: 'text-align: center'} &#x2707;
