.row
  %h3
    Players connected: 
    = ServerQuery.numplayers
    of
    = ServerQuery.maxplayers

.row
  %table.table
    %tbody
      - @players.each do |player|
        %tr
          %td
            = player
