%div#public-players
  = render 'public_players'

.chat_bottom_only#chat{style: 'display: none;'}
  %button#chat_size{style: 'text-align: center'} +
%button#chat_controls{style: 'text-align: center'} &#x2707;
