.row
  %h3
    Players connected: 
    = query[:numplayers]
    of
    = query[:maxplayers]

.row
  %table.table
    %tbody
      - @players.each do |player|
        %tr
          %td
            = player
