.row
  %h3 Preferences

.row
  %table.table
    %thead
      %tr
        %th Key
        %th Value
        %th
    %tbody
      - @preferences.each do |preference|
        %tr
          %td=preference.key
          %td
            - if preference.key =~ /password/i
              = '*' * preference.value.length
            - elsif [Preference::IRC_ENABLED, Preference::IRC_WEB_CHAT_ENABLED].include? preference.key
              - if preference.value == '0'
                false
              - elsif preference.value == '1'
                true
              - else
                = preference.value.to_s.truncate(60)
            - else
              = preference.value.to_s.truncate(60)
          %td= link_to 'Edit', edit_admin_preference_path(preference), class: 'btn btn-info btn-xs'
