.row
  %h3 Preferences

.row
  %table.table
    %thead
      %tr
        %th Key
        %th Value
        %th
    %tbody
      - @preferences.each do |preference|
        %tr
          %td=preference.key
          %td
            - if preference.key == Preference::WEB_ADMIN_PASSWORD
              = '*' * preference.value.length
            - else
              = preference.value
          %td= link_to 'Edit', edit_admin_preference_path(preference), class: 'btn btn-info btn-xs'
