%tr{id: "ip_tr_#{ip.id}", data: { id: ip.id } }
  %td=ip.address
  %td=link_to ip.origin, "?origin=#{ip.origin}"
  - unless @player
    %td=link_to((ip.player.nick rescue '[REDACTED]'), "?player_id=#{ip.player_id}")
  %td=created(ip.created_at)
