/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require chosen
 *= require_tree .
 *= require_self
 */

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url('../assets/glyphicons-halflings-regular.eot');
 src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
      url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
      url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
      url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

a.tip {
  position: relative;
  text-decoration: none;
}

a.tip:hover:before, .jqhover {
  display: block;
  position: absolute;
  padding: .5em;
  content: attr(data-title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

  color: #fff;
  font-size: .86em;
}

a.tip:hover:after, .jqhover-point {
  position: absolute;
  display: block;
  content: “”;

  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}

.chat_hidden {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  border: 1px solid;
  padding: 0 0 4px 0;
  overflow: auto;
  margin: 0;
  background: none repeat scroll 0% 0% #333;
  z-index: 9999;
  color: #FFF;
  font-family: monospace;
  font-size: 14px;
    
  transition: all 1s;
}

.chat_bottom_only {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 148px;
  border: 1px solid;
  padding: 0 0 4px 0;
  overflow: auto;
  margin: 0;
  background: none repeat scroll 0% 0% #333;
  z-index: 9999;
  color: #FFF;
  font-family: monospace;
  font-size: 14px;
  
  transition: all 1s;
}

.chat_full_screen {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  padding: 0 0 4px 0;
  overflow: auto;
  margin: 0;
  background: none repeat scroll 0% 0% #333;
  z-index: 9999;
  color: #FFF;
  font-family: monospace;
  font-size: 14px;

  transition: all 1s;
}

#chat_controls {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  padding: 0 0 4px 0;
  overflow: auto;
  margin: 0;
  background: none repeat scroll 0% 0% #333;
  z-index: 9999;
  color: #FFF;
  font-family: monospace;
  font-size: 14px;
}

#chat_size {
  position: fixed;
  right: 0;
  top: 1;
  width: 22px;
  height: 22px;
  border: 1px solid;
  padding: 0 0 4px 0;
  overflow: auto;
  margin: 0;
  background: none repeat scroll 0% 0% #333;
  z-index: 9999;
  color: #FFF;
  font-family: monospace;
  font-size: 14px;
}

.animate-container {
  margin: 0;
  padding: 0 10px;
}

.animate-repeat {
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}
