%button.btn.btn-info.btn-xs{type: :button, data: { toggle: :modal, target: '#explain_pvps'}}
  .glyphicon.glyphicon-question-sign
.modal.fade#explain_pvps{tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
          %span{'aria-hidden' => true} &times;
        %h4.modal-title#explain_pvps_label Explanation of PVPs
      .modal-body
        %p
          To see pvps in-game ...
        %p
          %code= help_docs('lastpvp')
