= render partial: 'button'
.modal.fade{id: "explain_#{@group}_#{@key}", tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
          %span{'aria-hidden' => true} &times;
        %h4.modal-title#explain_donations_label Explanation of Donations
      .modal-body
        %p
          Admin can keep track of donations so that they can be displayed
          in-game when a player types: @server donations
